<h3>Signup Form</h3>

<!-- ngForm cung cấp các phương thức làm việc với form -->
<!--
  signupForm.value => {taiKhoan: 123, matKhau: 999}
-->
<pre>{{ signupForm.value | json }}</pre>

<!-- taiKhoan, matKhau, email, soDt, hoTen -->
<form #signupForm="ngForm" class="form-container" (ngSubmit)="handleSignup()">
  <!-- Tài Khoản -->
  <mat-form-field appearance="fill">
    <mat-label>Tài khoản</mat-label>
    <input
      matInput
      name="taiKhoan"
      ngModel
      #taiKhoan="ngModel"
      required
      minlength="3"
      maxlength="20"
    />
    <mat-error *ngIf="taiKhoan.invalid">
      <span *ngIf="taiKhoan.errors?.required">
        Tài khoản không được để trống
      </span>
      <span *ngIf="taiKhoan.errors?.minlength || taiKhoan.errors?.maxlength">
        Tài khoản phải từ 3 đến 20 kí tự
      </span>
    </mat-error>
    <pre>{{ taiKhoan.errors | json }}</pre>
    <!-- Nếu k xài thư viện phải tự handle các trường hợp touched và dirty -->
    <!-- <div *ngIf="taiKhoan.invalid && (taiKhoan.dirty || taiKhoan.touched)">
      Tài khoản không được để trống
    </div> -->
  </mat-form-field>
  <!-- Mật khẩu -->
  <mat-form-field appearance="fill">
    <mat-label>Mật khẩu</mat-label>
    <input
      matInput
      type="password"
      name="matKhau"
      ngModel
      #matKhau="ngModel"
      required
    />
    <mat-error *ngIf="matKhau.invalid">
      <span *ngIf="matKhau.errors?.required">
        Mật khẩu không được để trống
      </span>
    </mat-error>
  </mat-form-field>
  <!-- Email -->
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      name="email"
      ngModel
      #email="ngModel"
      required
      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
    />
    <mat-error *ngIf="email.invalid">
      <span *ngIf="email.errors?.required"> Email không được để trống </span>
      <span *ngIf="email.errors?.pattern"> Email không đúng định dạng </span>
    </mat-error>
  </mat-form-field>
  <!-- Họ Tên -->
  <mat-form-field appearance="fill">
    <mat-label>Họ Tên</mat-label>
    <input matInput name="hoTen" ngModel #hoTen="ngModel" required />
    <mat-error *ngIf="hoTen.invalid">
      <span *ngIf="hoTen.errors?.required"> Họ tên không được để trống </span>
    </mat-error>
  </mat-form-field>
  <!-- Số DT -->
  <mat-form-field appearance="fill">
    <mat-label>Số điện thoại</mat-label>
    <input matInput name="soDt" ngModel #soDt="ngModel" required />
    <mat-error *ngIf="soDt.invalid">
      <span *ngIf="soDt.errors?.required"> Số DT không được để trống </span>
    </mat-error>
  </mat-form-field>

  <button [disabled]="signupForm.invalid">Đăng ký</button>
</form>
