<mat-grid-list cols="4">
  <mat-grid-tile *ngFor="let movie of movieList">
    <mat-card class="example-card">
      <img mat-card-image height="150px" [src]="movie.hinhAnh" />
      <mat-card-content>
        <p>{{ movie.tenPhim }}</p>
        <p>{{ movie.moTa }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button 
          routerLink="/movie/{{movie.maPhim}}" 
          mat-raised-button 
          color="primary">Chi tiết</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>